<div>
    <label for={{ id }}>{{ placeholder }}</label>
    <input
            id={{ id }}
            class="input"
            placeholder={{ placeholder }}
            name={{ name }}
    >
</div>
